form {
	.form-group {
		//padding: 0.5em 0;
		label { display: block; padding: 0.7em 0 0.3mm;}
		.form-control {
			@include border-radius(0.3em);
			border: 1px solid #ccc;
			padding: 0.5em 0.7em;
			font-family: $proximanova;
			font-size: 0.9em;
			margin: 0.3em 0;
			display: block;
			width: calc(100% - 1.4em - 2px);
			&:focus {
				border-color: $forms-input-focus-border;
				box-shadow: $forms-input-focus-bxshadow;
			}
		}
		button { font-size: 0.5em !important;}
	}

	.form-actions {
		padding: 1em 1.5em;
		background: #eee;
		border-top: 1px solid #ccc;
		margin-top: 1.5em;
	}
}


