.panel {
	padding: 1.5em;
	background: #fff;
	@include border-radius(0.3em);
}
.panel-default { 
	padding: 0;

	.panel-heading {
		padding: 0.7em 1.5em 0.4em;
		border-bottom: 1px solid #ccc;
		margin-bottom: 1.5em;
	}
	.panel-body { padding: 0 1.5em;}
	.panel-footer { padding: 0 1.5em 1.5em;
		.form-actions { 
			@include border-radius(0 0 0.3em 0.3em);
		}
	}
}